$color_main_1: #ffc000;
$color_main_2: #5a99d3;
$color_pending: #ed7d31;
$color_in-process: #ffc000;
$color_complete: #70ad47;


// ========== height ===========
$min_height: 42px;

// ============= font darkness =========

$extra_light: 100;
$light: 400;
$light-dark: 500;
$dark: 800;
